# Node Environment
NODE_ENV=development

# Postgres (Main DB)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=innogram_db

# MongoDB (Auth DB)
MONGO_URI=mongodb://localhost:27017/innogram_auth

# Redis (Session / Caching)
REDIS_HOST=localhost
REDIS_PORT=6379

# MinIO (S3 Storage)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword